<form class="ui stacked segment form" action="/dashboard/addmlist" id= "kelly" method="POST" >
  <div class="two fields">
    <div class="field">
      <label>List Name</label>
      <input placeholder="Name" type="text" name="title" autofocus required>
    </div>
    <div class="field">
      <label>Supermarket Name</label>
      <input placeholder="Supermarket Name" type="text" name="name" required>
    </div>
      <div class="field">
      <label>Supermarket Location</label>
      <input placeholder="Supermarket Location" type="text" name="location" required>
    </div>
  </div>

  <button class="ui blue submit button">Add New List</button>
</form>