<form class="ui  segment form" action="/addcomment" method="POST">
  <span class="profilepic"><img src="{{picture}}" class="ui avatar image"></span>
  <label> Hi </label><span class="name">{{fullname}}</span><label> Leave a Comment for us:</label>
        
  <textarea type="text" name="comment"> </textarea>
  <button class="ui light blue submit button">Send</button>
</form>