{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    About the Developer of this app: 
  </h2>

  
  
  
  <div class="ui centered cards">     
    <div class="flip-card">
  <div class="flip-card-inner">
    <div class="ui flip-card-front">
      <div class="ui centered cards">        
      {{#each developers}}
    {{> card}}
    {{/each}}
        </div>
    </div>
    <div class="flip-card-back">
      <h1>Contact:</h1>       
      <p>kellynagybertels@gmail.com</p>
      <p>Ireland</p>
      
      <p>" I put a lot of efford into this Web Application</p> 
      <p>
        I hope you have enjoyed my App!"
      </p>
      <i class= "ui huge sun icon"> </i>
    </div>
  </div>
</div>    
  </div>

<h3>Hover over the image above:</h3>

  <br>
  <br>
  <br>
<div class ="ui stackable grid container center aligned">
  
 
  
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.85269584274!2d-7.140893184235007!3d52.24605917976321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4842c41310dd4131%3A0x4042f0dcf13f7cfe!2sWaterford%20Institute%20of%20Technology!5e0!3m2!1sen!2sie!4v1583405444512!5m2!1sen!2sie" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  
   </div>
  
  <section class="ui raised two column grid segment">
  <section class="column">
    {{> comment}}
  </section>
  <section class="column">
    {{> listcomments}}
    
  </section>
</section>
  
  
  
  
</section>

