{{> welcomemenu}}

<section class="ui tu column grid middle aligned segment">

  <p>
    Welcome to the Supermarket List APP
  </p>
  <p> Sign up or Log in, to start to save your products...</p>
  
</section>
  
  <section class="ui two column grid segment">
  <div class="ui column">
    <div class="ui grid">
      <div class="ui eight wide column">
        <img class="ui small Rounded image" src="https://cdn.glitch.com/edf92019-885d-4c1f-8e15-2e5e56f869ee%2Fcarrot.jpg?v=1583231932481">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/edf92019-885d-4c1f-8e15-2e5e56f869ee%2Fcheese.jpg?v=1583231935935">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/edf92019-885d-4c1f-8e15-2e5e56f869ee%2Fjam.jpg?v=1583231942288">
      </div>
      <div class="ui eight wide column">
        <img class="ui small Rounded image" src="https://cdn.glitch.com/edf92019-885d-4c1f-8e15-2e5e56f869ee%2Ftrolley.jpg?v=1583231964047">
      </div>
      <div class="ui eight wide column">
        <img class="ui small Rounded image" src="https://cdn.glitch.com/edf92019-885d-4c1f-8e15-2e5e56f869ee%2Fbeef.jpg?v=1583231952853">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.com/edf92019-885d-4c1f-8e15-2e5e56f869ee%2Ffish.jpg?v=1583231945486">
      </div>
      
      
    </div>
  </div>
    
    
    <div class="ui column">
     <h3 class="ui center aligned header">This Market List App now contains The Total of:</h3>
      <div class="ui two statistics">                 
           <div class="ui huge statistic">
          <div class="value">     
            {{totalUsers}}
             <i class="green tiny user icon"></i>
          </div>
          <div class="label">
            Users Registered with us
          </div>
        </div>
         <div class="ui huge statistic">
          <div class="value">     
            {{totalReviews}}
             <i class="yellow tiny star icon"></i>
          </div>
          <div class="label">
            Positive reviews
          </div>
        </div>
     
        
     
        <div class="ui huge statistic">
          <div class="value">     
            {{totallists}}
              <i class="red tiny shopping cart icon"></i>
          </div>
          <div class="label">
            Lists
          </div>
        </div>
          <div class="ui huge statistic">
          <div class="value">
            {{totalProducts}}
             <i class="yellow tiny shopping basket icon"></i>
          </div>
          <div class="label">
            Products
          </div>
        </div>
        </div>
   </div>
      
      
      
      
      
      
      
    
    
  
  
  
  
</section>